In [1]:
import random
import pandas as pd

In [2]:
departments = ['Organization', 'Police', 'Propagation', 'Military', 'Law', 'Industry']

def random_major(majors=departments):
    return random.choice(majors)

def random_name(region=None, k=None):
    if region is None:
        region = [chr(e) for e in range(ord('a'), ord('z')+1)]
    if k is None:
        k = [random.randint(3, 5), random.randint(5, 10)]
    xing = ''.join(random.choices(region, k=k[0])).title()
    ming = ''.join(random.choices(region, k=k[1])).title()
    return ' '.join([xing, ming])

def random_age(low=40, high=75):
    return random.randint(low, high)

def level3_uid(idx):
    return 'L3-{idx:04d}'.format(idx=idx)

In [3]:
num_level3 = 100

In [4]:
level3_df = pd.DataFrame(columns=['name', 'major', 'age', 'uid'])
level3_df

Empty DataFrame
Columns: [name, major, age, uid]
Index: []

In [5]:
for _ in range(num_level3):
    uid = level3_uid(_)
    info = dict(
        major = random_major(),
        name = random_name(),
        age = random_age(),
        uid = uid
    )
    level3_df = level3_df.append(pd.Series(info, name=uid))
level3_df

                    name         major age      uid
L3-0000   Dos Iyvpuudixn      Military  51  L3-0000
L3-0001  Iump Wuanqejqsv           Law  44  L3-0001
L3-0002     Yeb Ujuleiqz  Organization  46  L3-0002
L3-0003       Qgxr Tfovd  Organization  59  L3-0003
L3-0004  Nqnlf Vqbmntshi   Propagation  59  L3-0004
...                  ...           ...  ..      ...
L3-0095      Ihrq Owebpc        Police  41  L3-0095
L3-0096       Idux Dpgta           Law  42  L3-0096
L3-0097     Ljcek Kimbon   Propagation  52  L3-0097
L3-0098      Amlg Vmsmjz        Police  57  L3-0098
L3-0099      Edghu Ieely        Police  69  L3-0099

[100 rows x 4 columns]

In [6]:
level3_df.loc[level3_df['major'] == 'Industry']

                    name     major age      uid
L3-0010        Iay Syjue  Industry  41  L3-0010
L3-0013       Umiw Betcm  Industry  44  L3-0013
L3-0014       Lcs Nghemw  Industry  56  L3-0014
L3-0018       Cjhy Fzmqh  Industry  47  L3-0018
L3-0019       Tzpy Yttaz  Industry  56  L3-0019
L3-0020  Xqta Lgzmirowkz  Industry  53  L3-0020
L3-0022   Lnytg Gqmtoyyy  Industry  70  L3-0022
L3-0027     Jml Cgjehtzv  Industry  67  L3-0027
L3-0051      Wtdgf Xfpjq  Industry  57  L3-0051
L3-0060        Gah Gqoon  Industry  57  L3-0060
L3-0076    Rcclk Tcapowg  Industry  53  L3-0076
L3-0080     Qrr Eilztvfl  Industry  58  L3-0080
L3-0082  Ucfic Jcepotfkx  Industry  63  L3-0082
L3-0083       Uohf Eaqmf  Industry  62  L3-0083
L3-0086   Nppk Lbjdbdfbe  Industry  75  L3-0086
L3-0088        Xzh Bcdfw  Industry  44  L3-0088
L3-0090      Zyph Txnjqs  Industry  62  L3-0090

In [7]:
level3_df.loc[level3_df['age'].isin(range(55, 60))]

                    name         major age      uid
L3-0003       Qgxr Tfovd  Organization  59  L3-0003
L3-0004  Nqnlf Vqbmntshi   Propagation  59  L3-0004
L3-0007      Rokpi Wpjug      Military  56  L3-0007
L3-0008     Angrp Jojvym   Propagation  58  L3-0008
L3-0011        Imc Tvybp        Police  59  L3-0011
L3-0014       Lcs Nghemw      Industry  56  L3-0014
L3-0019       Tzpy Yttaz      Industry  56  L3-0019
L3-0021   Bzyig Plbuzkvb      Military  55  L3-0021
L3-0041    Vnbz Lzyqxczy           Law  55  L3-0041
L3-0051      Wtdgf Xfpjq      Industry  57  L3-0051
L3-0057       Ywx Qtgtlh   Propagation  56  L3-0057
L3-0060        Gah Gqoon      Industry  57  L3-0060
L3-0069   Vcn Whyfvupzlq        Police  59  L3-0069
L3-0070     Zfgoo Dkapvp        Police  57  L3-0070
L3-0071       Xcvp Auvld  Organization  57  L3-0071
L3-0074     Wge Hsgpmivw   Propagation  56  L3-0074
L3-0075       Ono Fxvbfp           Law  59  L3-0075
L3-0080     Qrr Eilztvfl      Industry  58  L3-0080
L3-0093   Hty Ryiqogquks   Propagation  59  L3-0093
L3-0098      Amlg Vmsmjz        Police  57  L3-0098

In [8]:
level3_df.to_json('level3.json')  # , orient='records')