In [1]:
import random
import pandas as pd

In [2]:
departments = ['Organization', 'Police', 'Propagation', 'Military', 'Law', 'Industry']

def random_majors(majors=departments, k=2):
    return random.sample(majors, k=k)

def random_name(region=None, k=None):
    if region is None:
        region = [chr(e) for e in range(ord('a'), ord('z')+1)]
    if k is None:
        k = [random.randint(3, 5), random.randint(5, 10)]
    xing = ''.join(random.choices(region, k=k[0])).title()
    ming = ''.join(random.choices(region, k=k[1])).title()
    return ' '.join([xing, ming])

def random_age(low=40, high=75):
    return random.randint(low, high)

def level2_uid(idx):
    return 'L2-{idx:04d}'.format(idx=idx)

In [3]:
num_level2 = 10

In [4]:
level2_df = pd.DataFrame(columns=['name', 'majors', 'age', 'uid'])
level2_df

Empty DataFrame
Columns: [name, majors, age, uid]
Index: []

In [5]:
for _ in range(num_level2):
    uid = level2_uid(_)
    info = dict(
        majors = random_majors(),
        name = random_name(),
        age = random_age(),
        uid = uid
    )
    level2_df = level2_df.append(pd.Series(info, name=uid))
level2_df

                    name                       majors age      uid
L2-0000    Oqdgu Yvnljjo              [Military, Law]  40  L2-0000
L2-0001      Okawy Bhxmt      [Propagation, Military]  45  L2-0001
L2-0002      Ukqym Igxjg     [Military, Organization]  67  L2-0002
L2-0003  Zunjy Oczvdftap         [Military, Industry]  55  L2-0003
L2-0004      Zpjwo Dqepq         [Military, Industry]  48  L2-0004
L2-0005    Zwm Ghbvqksmg                [Law, Police]  56  L2-0005
L2-0006     Wkjpi Bsxykc     [Organization, Industry]  67  L2-0006
L2-0007    Rbhn Giynrthw      [Propagation, Industry]  50  L2-0007
L2-0008     Nqu Xkskaxbr              [Law, Military]  49  L2-0008
L2-0009   Sqsqa Fxpdzqqn  [Propagation, Organization]  69  L2-0009

In [6]:
level2_df.to_json('level2.json')