In [1]:
import pandas as pd

In [2]:
names = dict(
    level2 = 'level2',
    level3 = 'level3',
    links = 'links',
)

dfs = dict()
for name in names:
    dfs[name] = pd.read_json('{}.json'.format(name))

In [3]:
dfs

{'level2':                      name                    majors  age      uid
 L2-0000        Yvjg Utcwi     [Police, Propagation]   55  L2-0000
 L2-0001       Lagqb Awsyd           [Industry, Law]   46  L2-0001
 L2-0002         Mpo Czesx  [Organization, Military]   51  L2-0002
 L2-0003       Chwpx Pngsz  [Industry, Organization]   48  L2-0003
 L2-0004       Oqelq Hsoai     [Propagation, Police]   61  L2-0004
 L2-0005       Aiesb Orkds   [Propagation, Military]   66  L2-0005
 L2-0006    Mxq Pmagaaxpus             [Police, Law]   63  L2-0006
 L2-0007  Unghm Mixuyzousm  [Industry, Organization]   58  L2-0007
 L2-0008      Zfns Ddgmrkb   [Military, Propagation]   53  L2-0008
 L2-0009     Cet Qnohbyfav   [Propagation, Industry]   71  L2-0009,
 'level3':                     name         major  age      uid
 L3-0000   Dos Iyvpuudixn      Military   51  L3-0000
 L3-0001  Iump Wuanqejqsv           Law   44  L3-0001
 L3-0002     Yeb Ujuleiqz  Organization   46  L3-0002
 L3-0003       Qgxr Tfovd  Organization   59  L3-0003
 L3-0004  Nqnlf Vqbmntshi   Propagation   59  L3-0004
 ...                  ...           ...  ...      ...
 L3-0095      Ihrq Owebpc        Police   41  L3-0095
 L3-0096       Idux Dpgta           Law   42  L3-0096
 L3-0097     Ljcek Kimbon   Propagation   52  L3-0097
 L3-0098      Amlg Vmsmjz        Police   57  L3-0098
 L3-0099      Edghu Ieely        Police   69  L3-0099

 [100 rows x 4 columns],
 'links':                                                      links      uid
 L2-0000  [L3-0072, L3-0056, L3-0043, L3-0095, L3-0025, ...  L2-0000
 L2-0001  [L3-0019, L3-0083, L3-0013, L3-0020, L3-0080, ...  L2-0001
 L2-0002  [L3-0062, L3-0029, L3-0071, L3-0085, L3-0026, ...  L2-0002
 L2-0003  [L3-0020, L3-0080, L3-0088, L3-0051, L3-0083, ...  L2-0003
 L2-0004  [L3-0054, L3-0097, L3-0093, L3-0006, L3-0008, ...  L2-0004
 L2-0005  [L3-0004, L3-0008, L3-0093, L3-0089, L3-0006, ...  L2-0005
 L2-0006  [L3-0095, L3-0043, L3-0091, L3-0042, L3-0069, ...  L2-0006
 L2-0007  [L3-0013, L3-0018, L3-0090, L3-0083, L3-0019, ...  L2-0007
 L2-0008  [L3-0000, L3-0012, L3-0058, L3-0009, L3-0021, ...  L2-0008
 L2-0009  [L3-0093, L3-0054, L3-0006, L3-0084, L3-0008, ...  L2-0009}

In [4]:
linkmap = pd.DataFrame(columns=['uid1', 'uid2'])
for uid in dfs['links'].index:
    uid1 = uid
    for uid2 in dfs['links'].loc[uid]['links']:
        linkmap = linkmap.append(pd.Series({'uid1': uid1, 'uid2': uid2}), ignore_index=True)

dfs['links'] = linkmap
linkmap

        uid1     uid2
0    L2-0000  L3-0072
1    L2-0000  L3-0056
2    L2-0000  L3-0043
3    L2-0000  L3-0095
4    L2-0000  L3-0025
..       ...      ...
214  L2-0009  L3-0027
215  L2-0009  L3-0060
216  L2-0009  L3-0051
217  L2-0009  L3-0013
218  L2-0009  L3-0018

[219 rows x 2 columns]

In [5]:
for name in dfs:
    dfs[name].to_json('{}_html.json'.format(name), orient='records')